/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
.env
.idea/neon-lms-app.iml
.idea/workspace.xml
.env
.idea/neon-lms-app.iml
.idea/workspace.xml
