.couse-pagination li.active {
    color: #333333 !important;
    font-weight: 700;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #c7c7c7;
    background-color: white;
    border: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #333333;
    background-color: white;
    border: none;

}

.listing-filter-form select {
    height: 50px !important;
}

ul.pagination {
    display: inline;
    text-align: center;
}

/**/
.titleofcard {
    text-align: left;
    /*min-height: 60px;*/

    font: Bold 20px/30px Ubuntu;
    letter-spacing: -0.2px;
    color: #000000CC;
    margin-top: -20px;
}

.rate {
    text-align: left;
    font-size: 0.9rem;
    letter-spacing: 0.01px;
    color: #00000099;
}

.best-course-pic-text .btn {
    color: #fff !important;
}

.teacher-details {
    margin-left: -1.5rem;
}

@media screen and (min-width: 768px) {
    #course-teacher .custom-owl-theme .owl-stage-outer {
        padding: 65px;
    }
}

.styleicon {
    text-align: left;
    font: Regular 12px Open Sans;
    letter-spacing: 0px;
    color: #00000099;
}

.metatitle {
    text-align: left;
    font-size: 0.7rem;
    letter-spacing: 0px;
    color: #D2498B;
}

.metadescr {
    text-align: left;
    font-size: 0.7rem;
    letter-spacing: 0.01px;
    color: #00000099;
}

.course-author {
    font-size: 0.7rem;
}

.course-meta span {
    font-size: 71%;
    margin-right: 8%;
}

.piclip {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 94%);
    width: 100%;
}

.gradient-bg {
    background: #D2498B
}

.gradient-bg:hover {
    background: #D2498B
}

.best-course-pic-text {
    /*background-image: url('../../assets/img/card/card.png');*/
    /*background-size:cover;*/
    padding-top: 0;
    margin-bottom: 10%;
    box-shadow: 0px 1px 10px #212529;
}

.btnAddCard {
    background: #52ADE1;
    color: #fff !important;
}

.btnWishList {
    background: #D2498B;
    color: #fff !important;
    opacity: 0.5;
    height: 37px;
}

.instructor-name {
    color: #D2498B;
}

.hei-sec {
    height: 300px;
    overflow: hidden;
}

.noborder {
    border: none;
}

.course-page-sec .course-li-img {
    height: 300px;
    width: 100%;
    float: left;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #777777;
    overflow: hidden;
}


.course-page-sec .course-l-img {
    height: 220px;
    width: 100%;
    float: left;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #777777;
    overflow: hidden;
}

.sta {

    width: 6% !important;

    /* display: inline; */
}

.vv {
    opacity: 0.8;
    font-size: 20px;
}

/* .back-im{
    background-image: url('../../assets/img/');
} */

.popular-navs li .act-pop {
    background-color: #D2498B !important;
}

.teach_img {
    width: 60px;
    height: unset;
    border-radius: 50%;
}

/* Filters sidebar */
.filters-side-bar {
    background-color: #F9F9F9;
    border-radius: 4px;
}

.filters-side-bar h5 {
    color: #00000099;
}
.filters-side-bar .form-check {
    padding-left: unset;
}
.filters-side-bar .form-check {
    color: #000000cc;
}

.rating-list {
    padding: 0;
    color: #4f4f4f;
    list-style-type: none;
}

.rating-list li {
    display: inline-block;
}

.form-check-input:not(:checked), .form-check-input:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.form-check-input + label:before {
    border: 1px solid #ccc;
}

.form-check-input:not(:checked) + label:after {
    border: 1px solid transparent;
}

.form-check-input[type=radio] + label:before, .form-check-input[type=radio] + label:after, label.btn input + label:before, label.btn input + label:after {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 0;
    /*width: 8px;*/
    /*height: 8px;*/
    /*margin: 6px;*/
    content: "";
    /*-webkit-transition: .28s ease;*/
    /*transition: .28s ease;*/
}

.form-check-input[type=radio]:checked + label:after {
    border: 2px solid #d2498b;
    background-color: #d2498b;
    height: 8px;
    width: 8px;
    margin: 6px;
}

.form-check-input:checked + label, .form-check-input:not(:checked) + label {
    height: 1rem;
    line-height: 1rem;
}

.form-check-input + label:before {
    width: 18px;
    height: 18px;
    margin: 1px;
}

.form-check-input:not(:checked) + label, .form-check-input:checked + label, label.btn input:not(:checked) + label, label.btn input:checked + label {
    position: relative;
    display: inline-block;
    height: 1.5625rem;
    padding-left: 25px;
    line-height: 1.1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}
.form-check-input[type=checkbox]:checked ~ .form-check-label::before {
    color: #fff;
    border-color: #d2498b;
    background-color: #d2498b;
}
.form-check-input[type=checkbox]:not(:checked) + label:after,.form-check-input[type=checkbox] + label:after {
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    color: #fff;
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
}
.form-check-input[type=checkbox]+label::before {
    border-radius: 2px;
    position: absolute;
    left: -.1rem;
    display: block;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgb(255 0 241 / 25%);
    /*position: absolute;*/
    border: none;
    border-radius: 50%;
    background-color: #d2498b;
    width: 14px;
    height: 14px;
    margin: 0;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-appearance: none;
    appearance: none
}

input[type=range] {
    cursor: pointer;
    position: relative;
    background-color: #d2498b;
    outline: none;
    width: 100%;
    margin: 15px 0px;
    height: 2px;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
